*.log
package.list

# robot
robot-logs/
pabot_results/
log.html
report.html
output.xml
test-screenshots
bin
*.ova

# drone
secrets.yml
test_secrets.yml
secrets-e2e.yml

# Intellij files
*.iml
.idea/

# Eclipse files
.project

# VIC
VCH-*

**/node_modules
docs/user_doc/node_modules/*