[Unit]
Description=Harbor Startup Configuration
Documentation=http://github.com/vmware/harbor
After=docker.service data.mount systemd-networkd.service systemd-resolved.service iptables.service ova-firewall.service
Before=harbor.service
Requires=iptables.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/bash /etc/vmware/harbor/configure_harbor.sh
ExecStart=/usr/bin/python /etc/vmware/harbor/prepare --conf /data/harbor/harbor.cfg --with-notary

[Install]
WantedBy=multi-user.target
