[Unit]
Description=Kubernetes on vSphere
Documentation=https://github.com/vmware/kov
After=kov_env_vars.service iptables.service ova-firewall.service data.mount
Requires=kov_env_vars.service iptables.service data.mount

[Service]
EnvironmentFile=/etc/vmware/kov/kov_env_vars
Type=notify
RestartSec=5
TimeoutStartSec=0
Delegate=yes
KillMode=process
Restart=on-abnormal
ExecStartPre=/etc/vmware/kov/configure_kov.sh
ExecStart=/usr/bin/kovd --tls-port=${KOVD_EXPOSED_PORT} --tls-host=0.0.0.0 --tls-certificate ${KOVD_CERT_LOCATION} --tls-key ${KOVD_KEY_LOCATION} --base-image-path ${KOV_VMDK_LOCATION} --data-dir ${KOVD_DATA_DIR}
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
