[Unit]
Description=Kubernetes on vSphere
Documentation=https://github.com/vmware/kov
After=kov_published_env_vars.service
Requires=kov_published_env_vars.service
Before=kov.service

[Service]
Type=oneshot
ExecStart=/etc/vmware/kov/configure_kov_env_vars.sh

[Install]
WantedBy=multi-user.target
