[Unit]
Description=Kubernetes on Vsphere
Documentation=https://github.com/vmware/kov
After=systemd-networkd.service systemd-resolved.service network.service admiral_startup.service fileserver_startup.service admiral.service engine_installer_startup.service
Requires=docker.service
Wants=network.service

[Service]
Type=oneshot
ExecStart=/etc/vmware/kov/configure_kov_env_var.sh

[Install]
WantedBy=multi-user.target
