<clr-main-container>
 
<header class="header header-6"> 
  <div class="branding">  <a href="https://vmware.github.io/" class="nav-link">  <span class="clr-icon vmware-logo"></span>  <span class="title">Open Source Program Office</span>  </a>  </div>
    </header>
 
<div class="content-container">
 
<div id="content-area" class="content-area" hash-listener #scrollable>
 
<div class="hero"> 
  <div class="hero-image"><img src="images/vic-product.png" alt="VMware vSphere&reg; Integrated Containers&trade;"></div>
   
  <p><a href="https://github.com/vmware/vic-product" class="btn btn-primary"><i class="icon icon-github"></i> Go to GitHub</a></p>
    </div>
 
<div id="overview" class="section">
 
<h2>
What is vSphere Integrated Containers?</h2>        
<p>vSphere Integrated Containers comprises of several components, all of which are available as open source projects on Github:</p>       <br>
          
<ul>
        
<li>
<a href="https://vmware.github.io/vic/">VMware vSphere Integrated Containers Engine</a>, a container runtime for vSphere. vSphere Integrated Containers Engine allows developers who are familiar with Docker to develop in containers and deploy them alongside traditional VM-based workloads on vSphere clusters. vSphere adminitrators can manage these workloads by using vSphere in a way that is familiar.</li>      
<li><a href="https://github.com/vmware/vic-ui">vSphere Integrated Containers Plug-In for vSphere Client</a>, that provides information about your vSphere Integrated Containers setup and allows you to deploy virtual container hosts directly from the vSphere Client.</li>        
<li><a href="https://vmware.github.io/harbor/">VMware vSphere Integrated Containers Registry</a>, an enterprise-class container registry server that stores and distributes container images. Also known as VMware Harbor, vSphere Integrated Containers Registry extends the Docker Distribution open source project by adding the functionalities that an enterprise requires, such as security, identity and management.</li>        
<li><a href="https://vmware.github.io/admiral/">VMware vSphere Integrated Containers Management Portal</a>, a container management portal. Also known as VMware Admiral, vSphere Integrated Containers Management Portal provides a UI for DevOps teams to provision and manage containers, including the ability to obtain statistics and information about container instances. Cloud administrators can manage container hosts and apply governance to their usage, including capacity quotas and approval workflows. When integrated with vRealize Automation, more advanced capabilities become available, such as deployment blueprints and enterprise-grade Containers-as-a-Service.</li>        </ul>        
  <p>With these capabilities, vSphere Integrated Containers enables VMware customers to deliver a production-ready container solution to their developers and DevOps teams. By leveraging their existing SDDC, customers can run container-based applications alongside existing virtual machine based workloads in production without having to build out a separate, specialized container infrastructure stack. As an added benefit for customers and partners, vSphere Integrated Containers is modular. So, for example, if your organization already has a container registry in production, you can use that registry with vSphere Integrated Containers Engine and vSphere Integrated Containers Management Portal.</p>  
  <p>For more information, see the <a href="http://www.vmware.com/products/vsphere/integrated-containers.html">official vSphere Integrated Containers product page on vmware.com</a>.</p>
   
</div>
  
<div id="gettingVIC" class="section">  
  <h2>
  Get vSphere Integrated Containers</h2>  
  <h3>
  Official Releases</h3>  
  <p>To obtain the latest official release of vSphere Integrated Containers, go to 
  <a href="http://www.vmware.com/go/download-vic">http://www.vmware.com/go/download-vic</a>. You need a vSphere Enterprise Plus or vSphere Remote Office Branch Office (ROBO) Advanced license to install an official, supported release of vSphere Integrated Containers.</p>  
  <h3>
  Open Source Releases</h3>  
  <p>You can also obtain open-source releases of the vSphere Integrated Containers components, that are more recent than the latest official release.</p>  
  <h4>
  Tagged Releases</h4>  
  <p>Tagged releases that have been tested and released to the community, but that might not reflect the most up-to-date version of the code.<br/><a href="https://github.com/vmware/vic-product/releases">Appliance</a> | <a href="https://github.com/vmware/vic/releases">Engine</a> | <a href="https://github.com/vmware/harbor/releases">Harbor</a>| <a href="https://github.com/vmware/admiral/releases">Admiral</a> | <a href="https://github.com/vmware/vic-ui/releases">UI</a></p>  
  <h4>
  Built Binaries </h4>  
  <p>Builds usually happen after every successful merge into the source code. These builds have been minimally tested for integration.<br/><a href="https://console.cloud.google.com/storage/browser/vic-product-ova-builds">Appliance</a> | <a href="https://console.cloud.google.com/storage/browser/vic-engine-builds/">Engine</a> | <a href="https://console.cloud.google.com/storage/browser/harbor-builds">Harbor</a> | <a href="https://hub.docker.com/r/vmware/admiral">Admiral</a> | <a href="https://console.cloud.google.com/storage/browser/vic-ui-builds">UI</a></p>  
  <h4>
  Source Code</h4>  
  <p>Follow the instructions in each Github repository to build the components from the source code.<br/><a href="https://github.com/vmware/vic-product">Appliance</a> | <a href="https://github.com/vmware/vic">Engine</a> | <a href="https://github.com/vmware/harbor">Harbor</a> | <a href="https://github.com/vmware/admiral">Admiral</a> | <a href="https://github.com/vmware/vic-ui">UI</a></p>  </div>  
  <div id="documentation" class="section"> 
    <h2>Documentation</h2>
                      
    <p>Here are some docs to help get you started. The latest open-source software (OSS) docs are works-in-progess, and not all sections have necessarily been fully updated or reviewed. The docs for the latest official VMware release have been fully reviewed and approved for that release.</p>
      
      
    <div class="row"> 
      <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12"> 
        <div class="card"> 
          <div class="card-header">vSphere Integrated Containers 1.5.2</div>
           
          <div class="card-block"> 
            <div class="card-text">                                     Latest Official Release<br>
                <small>Latest doc update 2019-03-19<br>
				This is the documentation for the most recent official VMware release of vSphere Integrated Containers.</small>  </div>
              </div>
           
          <div class="card-footer">  <a href="assets/files/html/1.5/index.html" class="btn btn-sm btn-link">Documentation</a> <a href="https://docs.vmware.com/en/VMware-vSphere-Integrated-Containers/1.5.2/rn/VMware-vSphere-Integrated-Containers-152-Release-Notes.html" class="btn btn-sm btn-link" target="_blank">Release Notes</a></div>
            </div>
          </div>
       
      <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12"> 
        <div class="card"> 
          <div class="card-header">Latest vSphere Integrated Containers Doc</div>
           
          <div class="card-block"> 
            <div class="card-text">
                <small>This documentation reflects the current state of the docs in the master branch of the Github repo. As such, it might contain references to features that are available in recent open source builds, but that are not included in the latest official VMware release.</small>  </div>
              </div>
           
          <div class="card-footer">  <a href="assets/files/html/latest/index.html" class="btn btn-sm btn-link">Documentation</a>  </div>
            </div>
          </div>
        </div>
		<p>Go <a href="https://docs.vmware.com/en/VMware-vSphere-Integrated-Containers/">here</a> to see the documentation for all other vSphere Integrated Containers releases.</p>
      </div>
    
  <div id="support" class="section"> 
    <h2>Support</h2>
     
    <p>Full support of vSphere Integrated Containers requires the vSphere Enterprise Plus or vSphere Remote Office Branch Office (ROBO) Advanced license and an official VMware release of vSphere Integrated Containers. You obtain an official release from the <a href="http://www.vmware.com/go/download-vic">vSphere Integrated Containers download page on vmware.com</a>. To make a support request, contact <a href="http://www.vmware.com/support">VMware Global Support</a>.</p>
      
    <p>All other releases of vSphere Integrated Containers are released as open source software and come with no commercial support.</p>
      
    <p>For general questions, visit the vSphere Integrated Containers channels on Slack.com. You need to sign up at <a href="https://code.vmware.com/web/code/join">https://code.vmware.com/web/code/join</a> to get an invitation.</p>
       <br>
      
    <ul>
       
      <li><a href="https://vmwarecode.slack.com/messages/vic-product">vSphere Integrated Containers Channel</a></li>
       
      <li><a href="https://vmwarecode.slack.com/messages/vic-engine">vSphere Integrated Containers Engine Channel</a></li>
       
      <li><a href="https://vmwarecode.slack.com/messages/harbor">vSphere Integrated Containers Registry Channel</a></li>
       
      <li><a href="https://vmwarecode.slack.com/messages/admiral">vSphere Integrated Containers Management Portal Channel</a></li>
       
      <li><a href="https://vmwarecode.slack.com/messages/vic-doc">vSphere Integrated Containers Docs Channel</a></li>
       
    </ul>
      </div>
   
  <div id="contributors" class="section"> 
    <h2>Contributors</h2>
       <br>
      
    <ul class="list-unstyled row">
       
      <li *ngFor="let contributor of contributors"><a [href]="contributor.html_url"><img [src]="contributor.avatar_url" alt="" class="contributor"></a></li>
       
    </ul>
      </div>
    
  <div id="contributing" class="section"> 
    <h2>Contributing</h2>
      
    <p>The vSphere Integrated Containers project team welcomes contributions from the community. If you wish to contribute code, we require that you first sign our <a href="assets/files/pdf/vmware_cla.pdf">Contributor License Agreement</a> and return a copy to <a href="mailto:osscontributions@vmware.com">osscontributions@vmware.com</a> before we can merge your contribution.</p>
      </div>
    
  <div id="license" class="section"> 
    <h2>License</h2>
      
    <p>The vSphere Integrated Containers components are licensed under Apache 2 with additional licenses denoted within the <a href="https://github.com/vmware/vic-product/blob/master/LICENSE">vSphere Integrated Containers Appliance</a>, <a href="https://github.com/vmware/vic/blob/master/LICENSE">Engine</a>, <a href="https://github.com/vmware/vic-ui/blob/master/LICENSE.txt">UI</a>, <a href="https://github.com/vmware/admiral/blob/master/LICENSE">Admiral</a>, and <a href="https://github.com/vmware/harbor/blob/master/LICENSE">Harbor</a> open source repositories.</p>
      </div>
    </div>
 
<nav class="sidenav" [clr-nav-level]="2"> 
  <section class="sidenav-content"> 
    <section class="nav-group" [scrollspy]="scrollable"> 
      <label><a class="nav-link active" routerLink="." routerLinkActive="active" fragment="overview">Overview</a></label>
       
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="gettingVIC">Download</a></label>
       
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="documentation">Documentation</a></label>
       
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="support">Support</a></label>
       
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="contributors">Contributors</a></label>
       
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="contributing">Contributing</a></label>
       
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="license">License</a></label>
        </section>
      </section>
    </nav>
 
</div>
 
</clr-main-container>