[Unit]
Description=VIC Unified Installer Web Server Startup Configuration
Documentation=https://github.com/vmware/vic
After=systemd-networkd.service systemd-resolved.service iptables.service ova-firewall.service network-online.target
Before=fileserver.service
Requires=iptables.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /etc/vmware/fileserver/configure_fileserver.sh

[Install]
WantedBy=multi-user.target
